@media only screen and ( max-width: 774px){
    .login-container{
        padding: 0 ;
    }
    .form-info{
        display: none !important;
    }
    .form-login{
        width: 100%;
        max-width: none;
    }
    body{
        align-items:baseline;
    }
    .overlay{
        width: 100%;
    }
    .login-container{
        height: 1000px;
    }
    .spacer{
        display: none;
    }
    .signup-form-other{
        
        display: block;
    }
    .signup-form-other{
        margin-top: 50px;
        display: flex;
        position: relative;        
    }
    .signup-form-other >p{
        color: rgb(190, 189, 187);
        font-size: 14px;
        position: absolute;
        margin-top: 2px;
    }
    .social-after{
        margin-left: 40%;    
    }
    body{
        overflow: auto;
    }
    .overlay{
        height: 0%;
    }
}
@media only screen and (min-width:775px) and (max-height: 581px){
    .login-container{
        margin-top: 250px;
    }
    body{
        overflow: auto;
    }
    .overlay{
        height: 400%;
    }
}