
@media only screen and (max-width:352px){
    .modal-card-mb{
        display: block;
    }
    .modal-card-pc{
        display: none;
    }
    #card-item-info{
        width: 90%;
    }
    .modal-header{
        font-size: 20px;
    }
    .modal-header-detail{
        font-size: 10px;
    }
    .total-list{
        display: none;
    }
    .total-list-mb{
        display: block;
    }
    .all-pay-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 62px 23px;
    }
    #card-item-info{
    width: 93%;
    border: 2px solid #1ec6b6;
    padding: 3px;
    border-radius: 3px;
    }
    .modal-label{
        margin-bottom: 3px;
    }
    .select-place-detail{
        margin-bottom: 18px;
    }
    .mb-first{
    border: 2px solid #1ec6b6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    }
    #pay-error{
        display: none;
    }
    .total-money{
        font-size: 15px;
    }
    .total-money2{
        font-size: 16px;
    }
    .modal-body{
        font-size: 12px;
    }
    .Amount{
        padding-left: 22px;
    }
    .tax{
        padding-left: 22px; 
    }
    .Click-out-img{
        left: auto;
        bottom: 0;
        writing-mode: horizontal-tb;
    }
}
@media only screen and (min-width:353px) and (max-width: 616px) {
    .modal-card-mb{
        display: block;
    }
    .modal-card-pc{
        display: none;
    }
    #card-item-info{
        width: 90%;
    }
    .modal-header{
        font-size: 20px;
    }
    .modal-header-detail{
        font-size: 10px;
    }
    .total-list{
        display: none;
    }
    .total-list-mb{
        display: block;
    }
    .all-pay-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 62px 23px;
    }
    #card-item-info{
    width: 93%;
    border: 2px solid #1ec6b6;
    padding: 3px;
    border-radius: 3px;
    }
    .modal-label{
        margin-bottom: 3px;
    }
    .select-place-detail{
        margin-bottom: 18px;
    }
    .mb-first{
    border: 2px solid #1ec6b6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    }
    #pay-error{
        display: none;
    }
    .Click-out-img{
        left: auto;
        bottom: 0;
        writing-mode: horizontal-tb;
    }
}
@media only screen and (min-width:372px) and (max-width: 378px){
    .modal-card-mb{
        display: block;
    }
    .modal-card-pc{
        display: none;
    }
    #card-item-info{
        width: 90%;
    }
    .modal-header{
        font-size: 20px;
    }
    .modal-header-detail{
        font-size: 10px;
    }
    .total-list{
        display: none;
    }
    .total-list-mb{
        display: block;
    }
    .all-pay-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 62px 23px;
    }
    #card-item-info{
    width: 93%;
    border: 2px solid #1ec6b6;
    padding: 3px;
    border-radius: 3px;
    }
    .modal-label{
        margin-bottom: 3px;
    }
    .select-place-detail{
        margin-bottom: 18px;
    }
    .mb-first{
    border: 2px solid #1ec6b6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    }
    #pay-error{
        display: none;
    }
    .Click-out-img{
        left: auto;
        bottom: 0;
        writing-mode: horizontal-tb;
    }
    .select-place-detail{
        margin-bottom: 33px;
    }
}

@media only screen and (min-width:617px )and ( max-width: 756px){
    .modal-card{
        font-size: 10px;
        font-weight: 600;
    }   
    .card-icon{
        font-size: 21px;
    }
    .card-info{
        margin-bottom: 8px;
    }
    
    
}
@media only screen and (max-aspect-ratio: 1239/842) and (max-width:840px){
    .Header-img-modal{
        position: relative;
        max-width: calc(100% - 16px);
        width: 51.5em;
        height: auto;
        margin-top: 0;
    }
    .gallery-modal{
        z-index: 999;
    }
    .gallery-modal{
        background-color: rgba(0, 0, 0, 0.98);
    }
}
@media only screen and (max-aspect-ratio: 1239/842) and (max-height:630px){
    .Header-img-modal{
        position: relative;
        max-width: calc(100% - 16px);
        width: 51.5em;
        height: auto;
        margin-top: 0;
    }
    .gallery-modal{
        z-index: 999;
    }
    .gallery-modal{
        background-color: rgba(0, 0, 0, 0.98);
    }
}
@media only screen and (min-aspect-ratio: 1240/842) and (max-width:840px) {
    .Header-img-modal{
        position: relative;
        max-height: calc(100% - 16px);
        width: auto;
        height: 35.5em;  
        margin-top: 0;
    }
    .gallery-modal{
        z-index: 999;
    }
    .gallery-modal{
        background-color: rgba(0, 0, 0, 0.98);
    }
        
}
@media only screen and (min-aspect-ratio: 1240/842) and (max-height:630px){
    .Header-img-modal{
        position: relative;
        max-height: calc(100% - 16px);
        width: auto;
        height: 35.5em;  
        margin-top: 0;
    }
    .gallery-modal{
        z-index: 999;
    }
    .gallery-modal{
        background-color: rgba(0, 0, 0, 0.98);
    }
}
@media only screen and (min-width:841px) and (min-height: 631px){
    .Header-img-modal{
        margin-top: 77px;
    }
}
